@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

html {
    overflow-x: none;
    overflow-y: scroll;
    --white: #f7f7f7;
    --gray: #555459;
    --pink-0: #f7afa3;
    --pink-1: #ee9c95;
    --pink-2: #c39195;
    --pink-3: #a48b94;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Space Mono", monospace;
    font-size: 18px;
    color: var(--white);
}

header {
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 5;
}

div {
    margin: 0;
    padding: 0;
}

.title {
    margin: 0;
    padding: 0 0 0 5vw;
    width: 100%;
    background-color: var(--gray);
    height: 4rem;
    max-height: 4rem;
    line-height: 4rem;
    vertical-align: middle;
}
.title h1 {
    margin: 0;
}

.navigation {
    margin: 0 4rem 0 -1rem;
}
.navigation ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 2rem;
    max-height: 2rem;
    line-height: 2rem;
    vertical-align: middle;
}

.section-link {
    text-align: center;
    transform: skew(-45deg);
    flex: 1;
}
.section-link:nth-child(2n + 1) {
    background-color: var(--pink-3);
}
.section-link:nth-child(2n + 2) {
    background-color: var(--pink-2);
}
.section-link:nth-child(3n) {
    background-color: var(--pink-1);
}
.section-link a {
    display: block;
    color: var(--white);
    text-decoration: none;
    transform: skew(45deg);
}
.triangle {
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-bottom: 6rem solid var(--pink-0);
    border-left: 6rem solid transparent;
}

.banner {
    width: 100%;
    position: absolute;
    top: 0;
}
.banner img {
    width: 100%;
}

.banner-title { 
    position: absolute;
    top: 70%;
    left: -15%;
    width: 40%;
    padding: 0.5rem 5rem 0.5rem 5rem;
    text-align: center;
    background-color: rgb(30, 30, 30, 0.7);
    transform: skew(-45deg);
}
.banner-title h3, .banner-title h4 {
    margin: 0;
    padding: 0;
    transform: skew(45deg);
}
.banner-title h3 {
    font-size: 1.5rem;
}
.banner-title h4 {
    font-size: 1rem;
}