@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

html {
    overflow-x: none;
    overflow-y: scroll;
    --white: #f7f7f7;
    --gray: #555459;
    --pink-0: #f7afa3;
    --pink-1: #ee9c95;
    --pink-2: #c39195;
    --pink-3: #a48b94;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Space Mono", monospace;
    font-size: 18px;
    color: var(--white);
}

header {
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 5;
    height: 4rem;
    line-height: 4rem;
    vertical-align: middle;
}

div, h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

.title {
    flex: 2;
    /* padding: 0 2rem 0 2rem; */
}
.title h1 {
    height: 2rem;
    line-height: 2rem;
    font-size: 1.5rem;
    vertical-align: middle;
    margin: 0;
    cursor: default;
}

.navigation {
    position: absolute;
    width: 100%;
    padding: 0;
    top: 0;
    height: 4rem;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.5s ease;
}
.navigation.bg {
    background-color: var(--gray);
}
.navigation ul {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto;
    grid-gap: 0;
    overflow: hidden;
    list-style-type: none;
    padding: 0;
    margin: 1rem 0 1rem -2%;
}
.navigation ul:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
}
.section-link {
    height: 2rem;
    line-height: 2rem;
    /* font-size: 2rem; */
    vertical-align: middle;
    text-align: center;
    transform: skew(-45deg);
    transition: background-color 0.5s ease;
    flex: 1;
}
.section-link:nth-child(2n + 1) {
    background-color: rgba(0, 0, 0, 0);
}
.section-link:nth-child(2n + 2) {
    background-color: rgba(0, 0, 0, 0);
}
.section-link:nth-child(3n) {
    background-color: rgba(0, 0, 0, 0);
}
.section-link.bg:nth-child(2n + 1) {
    background-color: var(--pink-3);
}
.section-link.bg:nth-child(2n + 2) {
    background-color: var(--pink-2);
}
.section-link.bg:nth-child(3n) {
    background-color: var(--pink-1);
}
.section-link a {
    display: block;
    color: var(--white);
    text-decoration: none;
    transform: skew(45deg);
}
.section-link a h3 {
    margin: 0;
    font-size: 1rem;
    height: 2rem;
    line-height: 2rem;
    vertical-align: middle;
}
.section-link a h3:hover {
    font-size: 1.05rem;
}

.banner {
    width: 100%;
    /* margin-bottom: -0rem; */
}
.banner img {
    width: 100%;
}

.banner-title { 
    position: absolute;
    top: 70%;
    left: -15%;
    width: 40%;
    padding: 0.5rem 5rem 0.5rem 5rem;
    text-align: center;
    background-color: rgb(30, 30, 30, 0.7);
    transform: skew(-45deg);
}
.banner-title h3, .banner-title h4 {
    margin: 0;
    padding: 0;
    transform: skew(45deg);
}
.banner-title h3 {
    font-size: 1.5rem;
}
.banner-title h4 {
    font-size: 1rem;
}

.section {
    background-color: var(--white);
    color: var(--gray);
    padding: 1rem 20% 1rem 20%;
}

.section-title {
    text-align: left;
    border-left: 3px var(--pink-2) solid;
    padding: 0 0 0 1.5rem;
}

.section-grid {
    margin: 0 10% 0 10%;
}

.contact-links {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: space-between;
    margin: 1rem 20% 0 20%;
}
.contact-links > div {
    flex: 1;
}
.contact-links a {
    text-align: center;
    width: 2rem;
    color: var(--gray);
    text-decoration: none;
    font-size: 1.75rem;
}
